@charset "UTF-8";
/* But this comment will, except in compressed mode. */
/* It can also contain interpolation:
 * 1 + 1 = 2 */
/*! This comment will be included even in compressed mode. */
p .sans {
  font: Helvetica, sans-serif;
}

@font-face {
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 100;
}
@font-face {
  src: url("roboto-font-path/Roboto-Light.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: 300;
}
@font-face {
  src: url(../fonts/roboto/Roboto-Regular.woff2) format("woff2");
  font-family: "Roboto";
  font-weight: 400;
}
.logo {
  background: element(logo-bg);
}

.alert ul, .alert p, .warning ul, .warning p {
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 0;
}

ul > li {
  list-style-type: none;
}

h2 + p {
  border-top: 1px solid gray;
}

p ~ span {
  opacity: 0.8;
}

span.emoji-women-holding-hands {
  font-family: IconFont;
  font-variant: normal;
  font-weight: normal;
  content: "👭";
}

span.email-salom {
  font-family: IconFont;
  font-variant: normal;
  font-weight: 200;
  content: "😎😢";
}

.gray {
  -moz-filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

:root {
  --primary: #81899b;
  --accent: #302e24;
  --warn: #dfa612;
  --consumed-by-js: $primary;
}

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas;
}

.alert:hover {
  font-weight: bold;
}
[dir=rtl] .alert {
  margin-left: 0;
  margin-right: 10px;
}
:not(.alert) {
  opacity: 0.8;
}

.accordion {
  max-width: 600px;
  margin: 4rem auto;
  width: 90%;
  font-family: "Raleway", sans-serif;
  background: #f4f4f4;
}
.accordion__copy {
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}
.accordion__copy--open {
  display: block;
}

.wrapper input.field {
  width: 100%;
}

.wrapper select.field {
  height: 100%;
}

.reset-buttons, .action-buttons {
  box-sizing: border-box;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 16px 0;
  width: 100%;
}
.reset-buttons:hover, .action-buttons:hover {
  border: 2px rgba(0, 0, 0, 0.5) solid;
}

.action-buttons {
  color: #4285f4;
}

.reset-buttons {
  color: #cddc39;
}

.alert {
  background-color: #ffc107;
}

.alerts {
  background-color: #28a745;
}

.pulse {
  animation-name: inline-uhzzwed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes inline-uhzzwed {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

/*Sass-ning qo'shimcha funktsiyalarining aksariyati CSS -ga qo'shadigan yangi qoidalar shaklida keladi:

@use boshqa Sass uslublar jadvallaridan mikslar, funktsiyalar va o'zgaruvchilarni yuklaydi va bir nechta uslublar jadvallaridan CSS -NI BIRLASHTIRADI.

@forward @use  Sass uslublar jadvalini yuklaydi va uslublar jadvalingiz qoida bilan yuklanganda uning mikslari, funksiyalari va oʻzgaruvchilari mavjud boʻladi  .

@import  CSS -ni boshqa uslublar jadvallaridan uslublar, miksinlar, funktsiyalar va o'zgaruvchilarni yuklash uchun kengaytiradi .

@mixinva  @include uslublar qismlarini qayta ishlatishni osonlashtiradi.

@function SassScript ifodalarida ishlatilishi mumkin bo'lgan maxsus funktsiyalarni belgilaydi .

@extend tanlovchilarga uslublarni bir-biridan meros qilib olish imkonini beradi.

@at-root UNING ICHIDAGI USLUBLARNI CSS  hujjatining ildiziga qo'yadi .

@error xato xabari bilan kompilyatsiya muvaffaqiyatsiz tugadi.

@warn kompilyatsiyani to'liq to'xtatmasdan ogohlantirishni chop etadi.

@debug nosozliklarni tuzatish maqsadida xabarni chop etadi.

@if, @each, , kabi oqimni boshqarish qoidalari @forva @whileuslublar chiqarilishini yoki necha marta chiqarilishini nazorat qiladi.

Sass, shuningdek, oddiy CSS at-qoidalari uchun maxsus xatti-harakatlarga ega : ular interpolatsiyani o'z ichiga olishi mumkin va ular uslub qoidalariga joylashtirilishi mumkin. Ulardan ba'zilari, @mediava @supportskabilar, SassScript-ni interpolyatsiyasiz to'g'ridan-to'g'ri qoidaning o'zida ishlatishga imkon beradi.
*/
.mail-icon {
  text-indent: -99999em;
  overflow: hidden;
  text-align: left;
  background-image: url("/images/mail.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

input.name {
  position: absolute;
  height: 150px;
  margin-top: 0px;
}

input.address {
  position: absolute;
  height: 150px;
  margin-top: 150px;
}

input.zip {
  position: absolute;
  height: 150px;
  margin-top: 300px;
}

@namespace svg url("http://www.w3.org/2000/svg");
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2");
}
@counter-style thumbs {
  system: cyclic;
  symbols: "👍";
}
.sidebar {
  float: left;
  margin-left: 64px;
}

.header {
  background-color: #523314;
}

.error, .error--serious {
  border: 1px #f00;
  background-color: #fdd;
}
.error--serious {
  border-width: 3px;
}

.banner {
  background-color: #f2ece4;
  color: #036;
}
body.dark .banner {
  background-color: #6b717f;
  color: #d2e1dd;
}

.square-av {
  width: 100px;
  height: 100px;
}

.circle-av {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

content {
  font-family: Tahoma, Geneva, Arial, sans-serif;
}

.item3 {
  grid-row: span 0.4285714286;
}

.item3 {
  grid-row: span 3 / 7;
}

:root {
  --accent-color-wrong: $accent-color;
  --accent-color-right: #fbbc04;
  --font-family-monospace: Menlo, Consolas, "Courier New", monospace;
}

.button {
  border-radius: 3px;
  padding: 8px;
}

/*# sourceMappingURL=main.css.map */
