

/*Sass-ning qo'shimcha funktsiyalarining aksariyati CSS -ga qo'shadigan yangi qoidalar shaklida keladi:

@use boshqa Sass uslublar jadvallaridan mikslar, funktsiyalar va o'zgaruvchilarni yuklaydi va bir nechta uslublar jadvallaridan CSS -NI BIRLASHTIRADI.

@forward @use  Sass uslublar jadvalini yuklaydi va uslublar jadvalingiz qoida bilan yuklanganda uning mikslari, funksiyalari va oʻzgaruvchilari mavjud boʻladi  .

@import  CSS -ni boshqa uslublar jadvallaridan uslublar, miksinlar, funktsiyalar va o'zgaruvchilarni yuklash uchun kengaytiradi .

@mixinva  @include uslublar qismlarini qayta ishlatishni osonlashtiradi.

@function SassScript ifodalarida ishlatilishi mumkin bo'lgan maxsus funktsiyalarni belgilaydi .

@extend tanlovchilarga uslublarni bir-biridan meros qilib olish imkonini beradi.

@at-root UNING ICHIDAGI USLUBLARNI CSS  hujjatining ildiziga qo'yadi .

@error xato xabari bilan kompilyatsiya muvaffaqiyatsiz tugadi.

@warn kompilyatsiyani to'liq to'xtatmasdan ogohlantirishni chop etadi.

@debug nosozliklarni tuzatish maqsadida xabarni chop etadi.

@if, @each, , kabi oqimni boshqarish qoidalari @forva @whileuslublar chiqarilishini yoki necha marta chiqarilishini nazorat qiladi.

Sass, shuningdek, oddiy CSS at-qoidalari uchun maxsus xatti-harakatlarga ega : ular interpolatsiyani o'z ichiga olishi mumkin va ular uslub qoidalariga joylashtirilishi mumkin. Ulardan ba'zilari, @mediava @supportskabilar, SassScript-ni interpolyatsiyasiz to'g'ridan-to'g'ri qoidaning o'zida ishlatishga imkon beradi.
*/ 
// src/_corners.scss
$radius: 3px;

@mixin rounded {
  border-radius: $radius;
}

@mixin replace-text($image, $x: 50%, $y: 50%) {
    text-indent: -99999em;
    overflow: hidden;
    text-align: left;
  
    background: {
      image: $image;
      repeat: no-repeat;
      position: $x $y;
    }
  }
  
.mail-icon {
    @include replace-text(url("/images/mail.svg"), 0);
}


@mixin square($size, $radius: 0) {
    width: $size;
    height: $size;
  
    @if $radius != 0 {
      border-radius: $radius;
    }
  }
  
.avatar {
    @include square(100px, $radius: 4px);
}

@mixin order($height, $selectors...) {
    @for $i from 0 to length($selectors) {
      #{nth($selectors, $i + 1)} {
        position: absolute;
        height: $height;
        margin-top: $i * $height;
      }
    }
  }
  
@include order(150px, "input.name", "input.address", "input.zip");